.imageDiv {
  width: 48px;
}

.textDiv {
  margin-left: 4px;
  width: calc(100% - 52px);
}

.image {
  border-radius: 50%;
}

.border {
    border:1px dashed #000000;
}

.contents {
  display: flex;
}

.userName {
  font-size: 16px;
}

.userId {
  font-size: 12px;
  color: rgb(120, 120, 120);
}

.tweetText {
  font-size: 16px;
}

.status {
  width: 99%;
}

.count {
  float: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
}

.column {
  width: calc(100% - 40px);
  padding: 20px;
}

@media (min-width: 1024px) {
  .column {
    width: calc(50% - 40px);
    padding: 20px;
  }
}